* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Stop a user from scrolling when a modal is open */
html:has(dialog[open]) {
  overflow: hidden;
}

.button {
  border: 2px solid transparent;
  border-radius: 8px;

  font-size: 0.9rem;
  font-weight: 400;

  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.dialog-trigger {
  z-index: 50;

  background-color: #1d4ed8;

  color: #eff6ff;
}

.dialog-content {
  z-index: 999999;
  border: none;
  border-radius: 18px;

  box-shadow: 0px 2px 25px 4px rgba(0, 0, 0, 0.1);

  padding: 0;

  transition: opacity 0.5s ease-out;
}

@media only screen and (min-width: 768px) {
  .dialog-content {
    width: 60vw;
  }
}

@media only screen and (min-width: 1280px) {
  .dialog-content {
    width: 50vw;
  }
}

@media only screen and (min-width: 1920px) {
  .dialog-content {
    width: 40vw;
  }
}

.dialog-content__header {
  box-shadow: 0px 7px 25px 2px rgba(0, 0, 0, 0.1);

  padding: 1.6rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
}

.dialog-content__header h3 {
  margin: 0;
}

.dialog-content__header button {
  width: 45px;
  height: 45px;

  outline: none;
  border: none;
  border-radius: 100%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: background 0.2s ease-in;
}

.dialog-content__header button:hover {
  background-color: #e2e8f0;
}

.dialog-content__body {
  height: 50vh;

  overflow-y: auto;

  margin: 0;
  padding: 1.2rem 2rem;
}

.dialog-content__body__tab {
  margin-bottom: 1rem;
}

.dialog-content__body__tab-item {
  border-radius: 0;

  background-color: transparent;
}

.dialog-content__body__tab-item:hover {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-color: #e2e8f0;
}

.dialog-content__body__tab-item.active {
  border-radius: 0;
  border-bottom: 2px solid #2563eb;
}

.dialog-content__body__tab-content {
  width: 100%;
  height: 100%;
}

.dialog-content__footer {
  box-shadow: 0px -7px 25px 2px rgba(0, 0, 0, 0.1);

  margin: 0;
  padding: 1.4rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content__footer-cancel {
  background: none;

  color: #334155;
}

.dialog-content__footer-cancel:hover {
  background: #e2e8f0;
  border: 2px solid #e2e8f0;
}

.dialog-content__footer-cancel:focus {
  border: 2px solid #cbd5e1;
}

.dialog-content__footer-confirm {
  border: 2px solid #1d4ed8;
  background: #1d4ed8;

  color: #eff6ff;
}

.form-tab__new-testimonial {
  border: none;
  border-radius: 4px;

  margin-bottom: 0.6rem;
  padding: 0.7rem 1.2rem;

  background-color: #22c55e;

  color: #f0fdf4;
  font-size: 0.9rem;
  font-weight: 300;

  cursor: pointer;
}

.form-tab__testimonial {
  position: relative;

  border: none;
  border-radius: 8px;

  margin-bottom: 1.6rem;
  padding: 1rem 1.4rem 0.6rem 1.4rem;

  background-color: #e0f2fe;
}

.form-tab__testimonial__delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 100%;

  background-color: #f0f9ff;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.form-tab__testimonial__delete:hover {
  background-color: #f87171;
}

.form-tab__testimonial__delete svg {
  width: 20px;
  height: 20px;
}

.form-tab__testimonial__field {
  margin-bottom: 0.8rem;

  display: flex;
  flex-direction: column;
}

.form-tab__testimonial__field label {
  margin-bottom: 0.2rem;

  color: #475569;
  font-size: 0.85rem;
  font-weight: 400;
}

.form-tab__testimonial__field input,
.form-tab__testimonial__field textarea {
  border: 1px solid #bae6fd;
  border-radius: 4px;

  padding: 0.5rem 0.8rem;

  color: #6b7280;
  font-family: 'Inter', sans-serif;

  transition: border-color 0.2s ease-in;
}

.form-tab__testimonial__field input:hover,
.form-tab__testimonial__field textarea:hover {
  border-color: #7dd3fc;
}

.form-tab__testimonial__field input:focus,
.form-tab__testimonial__field textarea:focus {
  outline: none;
  border-color: #60a5fa;
}

.form-tab__testimonial__field input {
  margin-right: 1.8rem;
}

.testimonials-tab__json {
  height: 100%;
}

.testimonials-tab__json-input {
  width: 100%;
  height: 100%;

  border: 2px solid #d4d4d4;
  border-radius: 6px;

  padding: 1rem;
}